*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: space-around; /*Centers items in the middle*/
  align-items: center; /*Centers items verticaly*/
  min-height: 8vh;
  background-color: #121212;
  font-family: 'Raleway', sans-serif;
}
.logo{
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #E5E5E5;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}
.logo a{
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: #E5E5E5;
  text-decoration: none;
}
.nav-links{
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: #E5E5E5;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 16px;
}
.nav-mobile {
  display: none;
}
.nav-mobile div{
  width: 25px;
  height: 5px;
  background-color: #E5E5E5;
  margin: 5px;
  transition: all 0.3s ease;
}
body,
html {
  height: 100%;
}




#featured-work{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  background-color: #121212;
  top: 8vh;
}
#featured-work ul{
  list-style: none;
  display: block;
  width: 100%;
  height: 100%;
}
#featured-work li{
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  width: 50%;
  height: 25%
}
.wrapper {
    position: relative;
    width: 400px;
    height: 300px;
}
canvas{
  position: absolute;
  /* background: black; */
  width: 100vw;
  height: 100vh;

}
#particles-js {
  background: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
@media screen and (min-width: 1024px){
  #featured-work li{
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  width: 33.3%;
  height: 25%;
}
  /* .nav-links{
    display: flex;
    width: 50%;
    justify-content: space-around;
  } */
}



@media screen and (max-width: 760px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 100%;
    top: 8vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .nav-mobile{
    display: block;
    cursor: pointer;
  }
}
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-6px,6px);
}

.toggle .line2{
  /* transform: rotate(-45deg translate(-5px,0px)); */
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-6px,-6px);
