*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: space-around; /*Centers items in the middle*/
  align-items: center; /*Centers items verticaly*/
  min-height: 8vh;
  background-color: #121212;
  font-family: 'Raleway', sans-serif;
}
.logo{
  color: #E5E5E5;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 26px;
}
.nav-links{
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: #E5E5E5;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 16px;
}
.nav-mobile {
  display: none;
}
.nav-mobile div{
  width: 25px;
  height: 5px;
  background-color: #E5E5E5;
  margin: 5px;
  transition: all 0.3s ease;
}
/* @media screen and (max-width: 1024px){
  .nav-links{
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
} */
@media screen and (max-width: 760px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .nav-mobile{
    display: block;
    cursor: pointer;
  }
}
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-6px,6px);
}

.toggle .line2{
  /* transform: rotate(-45deg translate(-5px,0px)); */
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-6px,-6px);
}
/* body {

  

}


#main-container {
    position: relative;
 
    top:  18%;
  
    text-align: center;
    opacity: 0.75;
    width: 900px;
}

.center-text {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 28px;
    letter-spacing: 10px;
   

}
#ryanwdaly {
  padding-top: 25px;
  margin: auto;
  padding-bottom: 0px;
  width: 400px;
  text-align: center;
  

}
#description {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
  letter-spacing: 1px;
}

#footer{
  position: relative;
}
#nav-right {
  margin: 0px; 
  float: right;
}
#nav-container {
  margin: 0;
}




}  */
